Mictlanix.DiverzaClient/Schemas/TimbradoCFDI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.buzonfiscal.com/TimbradoCFDI/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimbradoCFDI"
  targetNamespace="http://www.buzonfiscal.com/TimbradoCFDI/"
  xmlns:xsd1="http://www.buzonfiscal.com/ns/xsd/bf/TimbradoCFD"
  xmlns:xsd2="http://www.sat.gob.mx/TimbreFiscalDigital">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.buzonfiscal.com/TimbradoCFDI/">
      <xsd:element name="Error">
        <xsd:complexType>
          <xsd:sequence minOccurs="0">
            <xsd:element name="descripcionError" type="xsd:string" maxOccurs="unbounded"/>
          </xsd:sequence>
          <xsd:attribute name="codigo" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value=""/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.buzonfiscal.com/ns/xsd/bf/TimbradoCFD"
        schemaLocation="TimbradoCFD.xsd"> </xsd:import>
      <xsd:import namespace="http://www.sat.gob.mx/TimbreFiscalDigital"
        schemaLocation="TimbreFiscalDigital.xsd"> </xsd:import>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="timbradoCFDRequest">
    <wsdl:part element="xsd1:RequestTimbradoCFD" name="request"/>
  </wsdl:message>
  <wsdl:message name="timbradoCFDResponse">
    <wsdl:part element="xsd2:TimbreFiscalDigital" name="response"/>
  </wsdl:message>
  <wsdl:message name="timbradoCFD_faultMsg">
    <wsdl:part name="fault" element="tns:Error"/>
  </wsdl:message>
  <wsdl:portType name="TimbradoCFDI">
    <wsdl:operation name="timbradoCFD">
      <wsdl:input message="tns:timbradoCFDRequest"/>
      <wsdl:output message="tns:timbradoCFDResponse"/>
      <wsdl:fault name="fault" message="tns:timbradoCFD_faultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimbradoCFDISOAP" type="tns:TimbradoCFDI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="timbradoCFD">
      <soap:operation soapAction="http://www.buzonfiscal.com/TimbradoCFDI/timbradoCFD"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimbradoCFDI">
    <wsdl:port binding="tns:TimbradoCFDISOAP" name="TimbradoCFDISOAP">
      <soap:address location="http://www.buzonfiscal.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
